.projectForm label {
    float: left;
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
}

.projectForm input, textarea {
    display: inline-block;
    float:left;
}

.projectForm input[type=submit]{
    display: block;
    float: left;
    clear: left;
    margin-top: 10px;
}

.projectForm {
    margin-left: 20px;
}