.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  list-style: none;
  margin: 0;
  background: #1ccEc5;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #B8F9F6;
}